.article{
  box-shadow: 0 3px 18px rgb(38 38 38 / 33%);
  padding: 15px 15px 12px;
  margin: 15px auto;
  width: 46%;
  position: relative;

  @media (orientation: portrait) {
    width: 100%;
  }
  img{
    width: 100%;
    height: inherit;
  }

  .info{
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    p{
      margin-right: 25px;
    }
  }
  .content{
    margin-bottom: 30px;
    margin-top: 12px;
  }
}