*{
  margin:0;
  padding: 0;
  font-family: Helvetica, serif;
}

.homePage{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  h1{
    width: 100%;
    height: 60px;
    background-color: #2BA5FF;
    color: white;
    text-align: left;
    padding: 18px 0 0 15px;
    font-style: italic;
  }

}